<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <style>
        h1 {color:rebeccapurple; font-size:40px;}
        h2 {color:rgb(81, 81, 97);  font-size:18px;}
        h3 {color:rgb(9, 9, 247);  font-size:16px;}
    </style>
</head>
<body>
    <h1 style="text-align:center;">
        BIENVENIDOS A USUARIOS

    </h1>
    <h3><table border="4px" align="center">
        <tr>
        
           <td> <a class="" href="lista_familiare"> Listado de Familiares</a></td>
           
       </tr>
    </table></h3>
</body>
</html>